<h1>Working!</h1>
<form action="/api" method="get">
  <input type="text" name="url" placeholder="Search with a keyword" />
  <label for="type">What do you want to search for?</label>

  <select id="type" name="type">
    <option value="">--Select movie or comic--</option>
    <option value="comics">Comic</option>
    <option value="movies">Movie</option>
  </select>
  <button>Submit</button>
</form>
